.camperCard {
  display: flex;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
}

.camperImage {
  width: 292px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.camperDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.camperDescription {
  width: 100%;
  max-width: 500px;
  line-height: 1.5;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  display: block;
  width: 100%;
  padding: 16px 0;
}
