.header {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.logo {
  width: 136px;
  justify-self: start;
}

.list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  color: var(--main);
  font-weight: 500;
  line-height: 1.5;
}

.link:hover,
.active {
  color: var(--button-hover);
}
