.section {
  padding: 48px 0 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  grid-auto-rows: 312px;
  gap: 48px;
}

.galleryItem {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: var(--shadow-small);
  overflow: hidden;
  cursor: pointer;
}

.galleryItem:hover .galleryImage {
  transform: scale(1.05);
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--animation-cubicBezier);
}

.description {
  line-height: 1.5;
  color: var(--text);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 44px;
}
